<style>
  header {
    background-image: none;
    height: 10vh;
  }
  nav {
    padding: 10px 0;
  }
  .secondary-nav-link {
    color: #9b18b0;
  }
  secondary-nav-link:hover {
    color: #f44336;
  }
</style>
<header>
  <div class="row">
    <nav class="clearfix">
      <a href="../index.html"
        ><img
          class="logo"
          src="../assets/auxi.png"
          alt="White Logo"
          width="100"
      /></a>
      <ul class="secondary-nav">
        <li>
          <a href="../index.html#getting-started" class="secondary-nav-link"
            >Getting Started</a
          >
        </li>
        <li>
          <a href="../index.html#plan-pricing" class="secondary-nav-link"
            >Plan & Pricing</a
          >
        </li>
        <li>
          <a href="../index.html#contact-us" class="secondary-nav-link"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
